@using Common.Constants
@using Forms.Core.Models.InFlight
@using Forms.Web.Models.FormComponents
@model Forms.Core.Models.Questions.DateInputQuestion

@{
    var hasLabel = !string.IsNullOrEmpty(Model.Label);
    var error = ViewData["error"] as string;
    var answer = ViewData["answer"] as Answer;
    var hasError = !string.IsNullOrEmpty(error);
    var hasHint = !string.IsNullOrEmpty(Model.Hint);
    var formGroupClassName = $"govuk-form-group {(hasError ? "govuk-form-group--error" : string.Empty)}";
    var ariaDescribedBy = $"{(hasHint ? $"{Model.Id}-hint " : string.Empty)}{(hasError ? $"{Model.Id}-error" : string.Empty)}";
}

<div class="@formGroupClassName">
    @if (hasLabel)
    {
        await Html.RenderPartialAsync("FormComponents/_Label", new Label {Text = Model.Label, HtmlFor = Model.Id});
    }
    @if (hasHint)
    {
        await Html.RenderPartialAsync("FormComponents/_Hint", new Hint {Id = $"{Model.Id}-error", Text = Model.Hint});
    }
    @if (hasError)
    {
        await Html.RenderPartialAsync("FormComponents/_ErrorMessage", new ErrorMessage {Id = $"{Model.Id}-error", Error = error});
    }
    <div class="govuk-date-input">
        <input
            value="@AnswerType.Date"
            id="@($"Questions[{ViewData["currentQuestionIndex"]}].Answer.AnswerType")"
            name="@($"Questions[{ViewData["currentQuestionIndex"]}].Answer.AnswerType")"
            type="hidden"/>
        
        <div class="govuk-date-input__item">
            <label class="govuk-label govuk-date-input__label">
            Day
            </label>
            <input
                value="@(answer?.Values["day"])"
                id="@($"Questions[{ViewData["currentQuestionIndex"]}].Answer.Values[day]")"
                name="@($"Questions[{ViewData["currentQuestionIndex"]}].Answer.Values[day]")"
                class= "govuk-input govuk-date-input__input govuk-input--width-2"
                type="number"
                aria-describedby="@ariaDescribedBy"/>
        </div>
        <div class="govuk-date-input__item">
            <label class="govuk-label govuk-date-input__label">
            Month
            </label>
            <input
                value="@(answer?.Values["month"])"
                id="@($"Questions[{ViewData["currentQuestionIndex"]}].Answer.Values[month]")"
                name="@($"Questions[{ViewData["currentQuestionIndex"]}].Answer.Values[month]")"
                class= "govuk-input govuk-date-input__input govuk-input--width-2"
                type="number"
                aria-describedby="@ariaDescribedBy"
            />
        </div>
        <div class="govuk-date-input__item">
            <label class="govuk-label govuk-date-input__label">
            Year
            </label>
            <input
                value="@(answer?.Values["year"])"
                id="@($"Questions[{ViewData["currentQuestionIndex"]}].Answer.Values[year]")"
                name="@($"Questions[{ViewData["currentQuestionIndex"]}].Answer.Values[year]")"
                class= "govuk-input govuk-date-input__input govuk-input--width-4"
                type="number"
                aria-describedby="@ariaDescribedBy"
            />
        </div>
    </div>
</div>